.root{
	 -fx-background-image: url("../images/paperBackground.jpg");
}

#username {
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
    }

#settings_text{
	-fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
    }


#password {
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
}


#NOTETAKER_text {
   -fx-font-size: 96.0px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
	
}

#modifiedbutton{
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
	
}

#saveSettingsButton{
	-fx-font-size: 9px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);	
}


#datebutton{
	-fx-font-size: 9px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);	
}
	
#newaccount {
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #0283CF;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
}
	
.button:hover {
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
}