.root{
	 -fx-background-image: url("../images/paperBackground.jpg");
}
/*------------------------------>LABELS AND TEXT<---------------------------- */
#username {
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
    }

#settings_text{
	-fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
    }


#password {
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
}


#NOTETAKER_text {
   -fx-font-size: 75.0px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
	
}


#newaccount {
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #0283CF;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
}
	


/*---------------------> BUTTONS AND HOVERS <---------------------------- */

#modifiedbutton{
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
	
}

#settings_button {          
    -fx-background-image: url("../images/settings_button_2.jpg"); 
    -fx-background-size:105% 105%;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
}

#settings_button:hover {
	 -fx-effect:dropshadow( one-pass-box, rgba(255,255,255,0.5), 10,1,0,1);
}


#tags_button  {          
    -fx-background-image: url("../images/tagbutton2.jpg"); 
    -fx-background-size:105% 105%;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
}

#tags_button:hover {
	 -fx-effect:dropshadow( one-pass-box, rgba(255,255,255,0.5), 10,1,0,1);
}

#createNote_button {          
    -fx-background-image: url("../images/new_note_button.jpg"); 
    -fx-background-size:105% 105%;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
} 

#createNote_button:hover {
	 -fx-effect:dropshadow( one-pass-box, rgba(255,255,255,0.5), 10,1,0,1);
}


#datebutton{
	-fx-font-size: 9px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);	
}


.button:hover {
	-fx-effect:dropshadow( one-pass-box, rgba(255,255,255,0.5), 6,1,0,1);

}



/* ---------------------->For all labels used to title forms<------------------------ */
#form_title {
	-fx-font-size: 18px;
	-fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
	-fx-font-weight: bold;
}

#create_note_form {
	-fx-background-color: #ADBEC2;
	-fx-padding: 20px;
	-fx-border-color: #888;
	-fx-border-radius: 6px;	
} 

#note_edit_pane {
	-fx-background-color: rgba(173,190,194, 0.5);
	-fx-padding: 5px;
	-fx-border-color: #888;
	-fx-border-radius: 6px;
}

#note_HTMLEditor {
	-fx-background-color: #fff;
	-fx-padding: 15px;
	-fx-opacity: 0.8;
}

#create_note_form .label {
	-fx-min-height: 50px;
	
}

/* Dashboard buttons  */
#settings_button, #tags_button, #createNote_button {
	
}




