.root{
	 -fx-background-image: url("assets/images/paper_background.jpg");
	 -fx-background-size: cover;
}
/*------------------------------>LABELS AND TEXT<---------------------------- */
#username {
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
    }

#settings_text{
	-fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
    }


#password {
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
}


#NOTETAKER_text {
   -fx-font-size: 75.0px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
	
}


#newaccount {
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #0283CF;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
}
	


/*---------------------> BUTTONS AND HOVERS <---------------------------- */

#note_create_button {
-fx-background-radius: 10px;
}

#settings_cancel_button {
-fx-background-radius: 10px;
}

#settings_save_button {
-fx-background-radius: 10px;
}

#note_cancel_button {
-fx-background-radius: 10px;
}

#logout_button {
-fx-background-radius: 10px;
}

#cancel_create_account_button {
-fx-background-radius: 10px;
}

#create_account_button {
-fx-background-radius: 10px;
}

#note_delete {          
    /* -fx-background-image: url("assets/images/trashcan.jpg");  */
    -fx-background-image: url("assets/images/icons/delete.png");
    -fx-background-size: 85%;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}

#collection_create {          
    -fx-background-image: url("assets/images/create_collection.jpg"); 
    -fx-background-size:105% 105%;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
}

#collection_delete {          
    -fx-background-image: url("assets/images/delete_collection.jpg");
    -fx-background-size: 95%;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}


#modifiedbutton{
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
	
}

#settings_button {          
    /* -fx-background-image: url("assets/images/settings_button_2.jpg");-fx-alignment: */
    -fx-background-image: url("assets/images/icons/settings.png"); 
    -fx-background-size: 60% 85%;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;   
}

#settings_button:hover {
	 -fx-effect:dropshadow( one-pass-box, rgba(255,255,255,0.5), 10,1,0,1);
}


#tags_button  {          
    -fx-background-image: url("assets/images/tagbutton2.jpg"); 
    -fx-background-size: 85%;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#tags_button:hover {
	 -fx-effect:dropshadow( one-pass-box, rgba(255,255,255,0.4), 4, 1, 0, 1);
}

#createNote_button {          
    /* -fx-background-image: url("assets/images/new_note_button.jpg");-fx-alignment: */ 
    -fx-background-image: url("assets/images/icons/new_note.png");
    -fx-background-size: 85%;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 70% center;
} 

#createNote_button:hover {
	 -fx-effect:dropshadow( one-pass-box, rgba(255,255,255,0.5), 10,1,0,1);
}

#save_note_button {
	-fx-background-image: url("assets/images/icons/save.png");
    -fx-background-size: 85%;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 70% center;
}

#save_note_button:hover {
	-fx-effect:dropshadow( one-pass-box, rgba(255,255,255,0.5), 10,1,0,1);
}


#datebutton{
	-fx-font-size: 9px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);	
}


.button:hover {
	-fx-effect:dropshadow( one-pass-box, rgba(255,255,255,0.5), 6,1,0,1);

}



/* ---------------------->For all labels used to title forms<------------------------ */

#account_settings_pane {
	/*-fx-background-color: #6DAFFF; */
	-fx-padding: 20px;
	-fx-border-color: #888;
	-fx-opacity: 0.9;
	-fx-padding:0;
	-fx-background-color: linear-gradient(to bottom right, #BCD8FD, #1880FC)
	
	}
/* #account_settings_grid {
	-fx-padding: 20px;
	-fx-border-color: #888;
	-fx-opacity: 0.9;
	-fx-padding:10;
	-fx-background-color: linear-gradient(to bottom right, #BCD8FD, #1880FC)
}*/

#new_account_window {
	-fx-padding: 20px;
	-fx-border-color: #888;
	-fx-opacity: 0.9;
	-fx-padding:10;
	-fx-background-color: linear-gradient(to bottom right, #BCD8FD, #1880FC)	
}

#form_title {
	-fx-font-size: 18px;
	-fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
	-fx-font-weight: bold;
}
#collection_form_title{
	-fx-font-size: 18px;
	-fx-effect:dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);
	-fx-font-weight: bold;
}

#create_note_form {
	-fx-background-color: #6DAFFF;
	-fx-padding: 20px;
	-fx-border-color: #888;

	-fx-padding:10;
} 


#collection_form {
	-fx-background-color: #ADBEC2;
	-fx-padding: 20px;
	-fx-border-color: #888;
	-fx-border-radius: 6px;	
} 



#note_edit_pane {
	-fx-background-color: rgba(173,190,194, 0.5);
	-fx-padding: 5px;
	-fx-border-color: #888;
	-fx-border-radius: 6px;
}

#note_HTMLEditor {
	-fx-background-color: #fff;
	-fx-padding: 15px;
	-fx-opacity: 0.8;
}

#create_note_form .label {
	-fx-min-height: 50px;
	
}

/* Dashboard buttons  */
#settings_button, #tags_button, #createNote_button {
	
}

.radio_button {
	-fx-padding: 0px 10px;
}


